.current {
    color: green;
  }

.globalstyle {
  margin: 25px;
  background-color: white;
  font: 22px serif;
  color: rgb(56, 59, 81);
  font-family: sans-serif;
}

.accent {
  font-family: 'Playfair Display', serif;
}